// 폴더 예외 처리
!StudyTimeJSON/
StudyTimeJSON/*
!StudyTimeJSON/Study Time.json

// 파일 예외 처리
privateData_local.json
privateData.json
*/secret.json
secret.json
*/crafton-jungle-8bcf9c56ce66.json
*/privateData.json
*/privateData_local.json