<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- 다양한 언어를 사용할 수 있도록 UTF-8 을 사용하도록 합니다. -->
    <meta charset="UTF-8" />

    <!-- 반응형으로 동작하게 합니다. -->
    <meta title="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap 을 포함합니다. -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://getbootstrap.com/docs/5.3/assets/css/docs.css"
      rel="stylesheet"
    />

    <!-- jQuery 를 포함합니다. -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <!-- jquery 교체: 3.5.1 -> 3.7.1 -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>

    <!-- CSS library 인 Bulma 를 포함합니다. -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
    />

    <!-- 텍스트형태로 되어있는 icon 을 쓸 수 있도록 Font awesome 을 포함하빈다. -->
    <script
      defer
      src="https://use.fontawesome.com/releases/v6.4.0/js/all.js"
    ></script>

    <title>마이 페이보릿 무비 | 프론트-백엔드 연결 마지막 예제!</title>

    <!-- 이 HTML 안에서 사용할 CSS 를 정의합니다. -->
    <!-- . 으로 시작하는 단어는 CSS clas 에 해당하며 . 을 제외한 이름을 HTML tag 에서 class="..." 형태로 사용합니다. -->
    <!-- 예: <div class="center"> -->
    <style>
      .center {
        text-align: center;
      }

      .sorter-box {
        width: 500px;
        margin: auto;
        inline-size: max-content;
      }

      .movie-list {
        width: 500px;
        margin: 20px auto 0 auto;
      }

      .movie-title > a {
        display: inline-block;
        color:black;
        font-size: xx-large;
        font-weight: bold;
      }

      .movie-title:hover {
        text-decoration: underline;
      }

      .card {
        margin-bottom: 15px;
      }

       img.movie-poster{
        width: 100px;
      }

      .movie-button1,.movie-button1>a,.movie-button3,.movie-button3>a{
        color:blue;
      }
      .movie-button2,.movie-button2 > a, .movie-button4, .movie-button4 > a {
        color:red;
      }
      #trash-mode-box, #trash-mode-box > a{
        color:cyan;
        font-weight: bold;
      }

    </style>

    <!-- 이 HTML 에서 사용할 JavaScript 를 작성합니다. -->
    <script>
        

      const Sort = {
        BY_LIKES: "likes",
        BY_VIEWERS: "viewers",
        BY_DATE: "date",
      };

      let sortMode = Sort.BY_LIKES;
      let trashMode = false;

      // index.html 의 로드가 완료되면 ready(...) 안에 등록된 함수가 자동으로 호출됩니다.
      // 아래는 함수에 이름을 부여하지 않고 바로 ready(...) 의 매개변수로 함수를 전달하는 방식으로 로드 완료시 호출될 함수를 등록합니다.
      $(document).ready(function () {
        // 영화 목록을 보여줍니다.
        showMovie();

        // 현재 적용되고 있는 정렬 방식의 버튼에 눌려져 보이는 효과를 줍니다.
        displaySorter();

        // 휴지통 모드에 따라 메뉴를 다르게 바꿔줍니다.
        displayTrashMode(trashMode);
      });

      function showMovie() {
        // 1. id="movie-box" 로 된 태그의 내부 html 태그를 모두 삭제합니다.
        $("#movie-box").empty();

        // 2. 휴지통을 보고 있는지 여부에 따라 호출할 API 를 선택합니다.
        //    휴지통이 아닐 경우 GET /api/list
        //    휴지통일 경우 GET /api/list/trash
        if (trashMode == false) {
          $.ajax({
            type: "GET",
            url: "/api/list",
            data: { sortMode: sortMode },
            success: function (response) {
              if (response["result"] != "success") {
                alert(sortMode + " 순으로 영화 목록 받아오기 실패!");
                return;
              }
              // 3. 서버가 돌려준 stars_list를 movies 라는 변수에 저장합니다.
              let movies = response["movies_list"];
              // 4. 영화 카드를 추가합니다. 이 때 휴지통 여부에 따라 카드 모양이 달라지므로 휴지통 여부(=false)도 같이 전달합니다.
              addMovieCards(movies, false);
            },
          });
        } else {
        //   alert(
        //     "여러분이 휴지통 보기 API 를 만들어서 query 를 보내야 합니다.\n그 결과를 addMovieCards() 함수로 넘겨주면 됩니다."
        //   );
        $.ajax({
            type: "GET",
            url: "/api/list/trash",
            data: { sortMode: sortMode },
            success: function (response) {
              if (response["result"] != "success") {
                alert(sortMode + " 순으로 영화 목록 받아오기 실패!");
                return;
              }
              // 3. 서버가 돌려준 stars_list를 movies 라는 변수에 저장합니다.
              let movies = response["movies_list"];
              // 4. 영화 카드를 추가합니다. 이 때 휴지통 여부에 따라 카드 모양이 달라지므로 휴지통 여부(=true)도 같이 전달합니다.
              addMovieCards(movies, true);
            },
          });
        }
      }

      function addMovieCards(movies, trashMode) {
        // for 문을 활용하여 movies 배열의 요소를 차례대로 조회합니다.
        for (let i = 0; i < movies.length; i++) {
          let movie = movies[i];
          //   console.log(movie);

          // 1. movie[i] 요소의 title,viewers, likes 키 값을 활용하여 값을 조회합니다.
          let id = movie["_id"];
          let title = movie["title"];
          let viewers = movie["viewers"];
          let likes = movie["likes"];

          let poster_url = movie["poster_url"];
          let info_url = movie["info_url"];
          let open_year = movie["open_year"];
          let open_month = movie["open_month"];
          let open_day = movie["open_day"];
          let open_date = open_year + "." + open_month + "." + open_day;

          // 2. 영화 카드를 만듭니다.
          let cardContentHtml = `
                        <div class="card-content" style="display:flex;" id=${id}>
                            <img src=${poster_url} class="movie-poster"/>
                            <div class="movie-info" style="display:grid; margin-left: 20px">
                                <span class="movie-title"><a href=${info_url} target="_blank">${title}</a></span>
                                <span class="movie-likes"><i class="fas fa-thumbs-up"></i>${likes}</span>
                                <span class="movie-viewers">누적관객수 ${viewers}</span>
                                <span class="movie-date">개봉일 ${open_date}</span>
                            </div>
                        </div>
                    `;
          // 3. 휴지통을 보고 있는지 여부에 따라 카드의 버튼을 다르게 설정해줍니다.
          let cardFooterHtml = "";
          if (trashMode == false) {
            cardFooterHtml = `
                            <hr class="card_horizontal" style="border: none; border-top: 1px solid gray;">
                            <div style="display: flex;justify-content: space-around">
                                <span class="movie-button1"><a href="#" onclick="likeMovie('${title}')">
                                위로!
                                </a><i class="fas fa-thumbs-up"></i>
                                </span>

                                <div style="border-left: 1px solid gray;"></div>

                                <span class="movie-button2"><a href="#" onclick="trashMovie('${title}')">
                                휴지통으로
                                </a><i class="bi bi-trash-fill"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                </svg>
                                </span>
                            </div>
                        `;
          } else {
            cardFooterHtml = `
                            <hr class="card_horizontal" style="border: none; border-top: 1px solid gray;">
                            <div style="display: flex;justify-content: space-around">
                                <span class="movie-button3"><a href="#" onclick="restoreMovie('${title}')">
                                복구하기
                                </a><i class="bi bi-recycle"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-recycle" viewBox="0 0 16 16">
                                <path d="M9.302 1.256a1.5 1.5 0 0 0-2.604 0l-1.704 2.98a.5.5 0 0 0 .869.497l1.703-2.981a.5.5 0 0 1 .868 0l2.54 4.444-1.256-.337a.5.5 0 1 0-.26.966l2.415.647a.5.5 0 0 0 .613-.353l.647-2.415a.5.5 0 1 0-.966-.259l-.333 1.242zM2.973 7.773l-1.255.337a.5.5 0 1 1-.26-.966l2.416-.647a.5.5 0 0 1 .612.353l.647 2.415a.5.5 0 0 1-.966.259l-.333-1.242-2.545 4.454a.5.5 0 0 0 .434.748H5a.5.5 0 0 1 0 1H1.723A1.5 1.5 0 0 1 .421 12.24zm10.89 1.463a.5.5 0 1 0-.868.496l1.716 3.004a.5.5 0 0 1-.434.748h-5.57l.647-.646a.5.5 0 1 0-.708-.707l-1.5 1.5a.5.5 0 0 0 0 .707l1.5 1.5a.5.5 0 1 0 .708-.707l-.647-.647h5.57a1.5 1.5 0 0 0 1.302-2.244z"/>
                                </svg>
                                </span>

                                <div style="border-left: 1px solid gray;"></div>

                                <span class="movie-button4"><a href="#" onclick="deleteMovie('${title}')">
                                영구삭제
                                </a><i class="bi bi-ban"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ban" viewBox="0 0 16 16">
                                <path d="M15 8a6.97 6.97 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0"/>
                                </svg>
                                </span>
                            </div>
                        `;
          }

          // 4. #movie-box에 생성된 HTML 을 붙입니다.
          $("#movie-box").append(`
                        <div class="card">
                            ${cardContentHtml}
                            ${cardFooterHtml}
                        </div>
                    `);
        }
      }

      ///////////////////////////////////////////////////////////////////////////////
      // 주의: 아래 like movie 는 임의의 영화에 좋아요가 표시됩니다.
      // 이 구현을 선택한 무비에 좋아요를 넣는 것으로 수정하셔야 됩니다. (함수 매개변수 및 함수 구현 모두)
      function likeMovie(input_title) {
        let title = input_title
        console.log(title);
        $.ajax({
          type: "POST",
          url: "/api/like",
          data: {title_give: `${title}`},
          success: function (response) {
            if (response["result"] == "success") {
              // 2. '좋아요 완료!' 얼럿을 띄웁니다.
              alert("좋아요 완료!");
              // 3. 변경된 정보를 반영하기 위해 새로고침합니다.
              showMovie();
            } else {
              alert("좋아요 실패ㅠㅠ");
            }
          },
        });
      }

      function trashMovie(title) {
        // alert(
        //   "휴지통 보내기 기능을 직접 구현해보세요.\n서버 측에 API 를 추가 후 여기서 그 API 를 호출하면 됩니다."
        // );
        // console.log(title);
        $.ajax({
          type: "POST",
          url: "/api/trash",
          data: {title_give: `${title}`},
          success: function (response) {
            if (response["result"] == "success") {
              
              alert("휴지통 보내기 완료!");
              // 3. 변경된 정보를 반영하기 위해 새로고침합니다.
              showMovie();
            } else {
              alert("휴지통 보내기 실패ㅠㅠ");
            }
          },
        });
      }

      function restoreMovie(title) {
        // alert(
        //   "휴지통에서 되살리기 기능을 직접 구현해보세요.\n서버 측에 API 를 추가 후 여기서 그 API 를 호출하면 됩니다."
        // );
        $.ajax({
          type: "POST",
          url: "/api/trash/restore",
          data: {title_give: `${title}`},
          success: function (response) {
            if (response["result"] == "success") {
              
              alert("되살리기 완료!");
              // 3. 변경된 정보를 반영하기 위해 새로고침합니다.
              showMovie();
            } else {
              alert("되살리기 실패ㅠㅠ");
            }
          },
        });
      }

      function deleteMovie(title) {
        // alert(
        //   "휴지통에서 아주 삭제 기능을 직접 구현해보세요.\n서버 측에 API 를 추가 후 여기서 그 API 를 호출하면 됩니다."
        // );
        $.ajax({
          type: "POST",
          url: "/api/trash/delete",
          data: {title_give: `${title}`},
          success: function (response) {
            if (response["result"] == "success") {
              
              alert("완전 삭제 완료!");
              // 3. 변경된 정보를 반영하기 위해 새로고침합니다.
              showMovie();
            } else {
              alert("완전 삭제 실패ㅠㅠ");
            }
          },
        });
      }

      // 정렬 기준 버튼을 클릭하면 호출됨
      function changeSorter(newMode) {
        if (sortMode == newMode) {
          return;
        }

        sortMode = newMode;
        displaySorter();
        showMovie();
      }

      // 정렬 기준에 따라 해당 버튼만 활성화 시키고 다른 버튼은 비활성화 시킴
      function displaySorter() {
        document.getElementById("sorter-likes").classList.remove("active");
        document.getElementById("sorter-viewers").classList.remove("active");
        document.getElementById("sorter-date").classList.remove("active");

        if (sortMode == Sort.BY_LIKES) {
          document.getElementById("sorter-likes").classList.add("active");
        } else if (sortMode == Sort.BY_VIEWERS) {
          document.getElementById("sorter-viewers").classList.add("active");
        } else if (sortMode == Sort.BY_DATE) {
          document.getElementById("sorter-date").classList.add("active");
        }
      }

      function displayTrashMode(trashMode) {
        // trashMode 에 따라 "휴지통 보기" 또는 "휴지통 나가기" 가 출력 되게 구현해야 됩니다.
        if (trashMode == false) {
          $("#trash-mode-box").html(`
                    <i class="bi bi-trash2-fill"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash2-fill" viewBox="0 0 16 16">
                    <path d="M2.037 3.225A.7.7 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2a.7.7 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671zm9.89-.69C10.966 2.214 9.578 2 8 2c-1.58 0-2.968.215-3.926.534-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466-.18-.14-.498-.307-.975-.466z"/>
                    </svg>
                    <a href="#" onclick="trashMode=true; showMovie(); displayTrashMode(trashMode);">휴지통 보기</a>
            
            `);
        } else {
          $("#trash-mode-box").html(`
                    <i class="bi bi-trash2-fill"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash2-fill" viewBox="0 0 16 16">
                    <path d="M2.037 3.225A.7.7 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2a.7.7 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671zm9.89-.69C10.966 2.214 9.578 2 8 2c-1.58 0-2.968.215-3.926.534-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466-.18-.14-.498-.307-.975-.466z"/>
                    </svg>
                    <a href="#" onclick="trashMode=false; showMovie(); displayTrashMode(trashMode);">휴지통 나가기</a>
            `);
        }
      }
    </script>
  </head>

  <!-- HTML 본문에 해당합니다. -->
  <!-- HTML 태그를 이용해서 layout 을 대략적으로 잡아두고, -->
  <!-- 위에 정의된 JavaScript 를 통해 동적으로 데이터를 조작해 최종 HTML 이 만들어집니다. -->
  <body>
    <!-- 제목 부분 -->
    <section class="hero is-warning">
      <div class="hero-body">
        <div class="container center">
          <h1 class="title">마이 페이보릿 무비😆</h1>
          <h2 class="subtitle">순위를 매겨봅시다</h2>
        </div>
      </div>
    </section>

    <!-- 정렬 옵션 부분 -->
    <!-- *주의* 아래 내용 중 id="sorter-likes", id="sorter-viewers", id="sorter-date" 은 삭제하면 안됩니다. -->
    <div class="mx-auto sorter-box">
      <div class="btn-group m-3 mx-auto w-300">
        <a
          href="#"
          class="btn btn-primary"
          id="sorter-likes"
          onclick="changeSorter('likes')"
          >좋아요 순으로 정렬</a
        >
        <a
          href="#"
          class="btn btn-primary"
          id="sorter-viewers"
          onclick="changeSorter('viewers')"
          >누적관객수 순으로 정렬</a
        >
        <a
          href="#"
          class="btn btn-primary"
          id="sorter-date"
          onclick="changeSorter('date')"
          >개봉일 순으로 정렬</a
        >
      </div>
    </div>

    <!-- "휴지통 보기" 부분 -->
    <!-- *주의* 아래 내용 중 id="trash-mode-box" 은 삭제하면 안됩니다. -->
    <div class="mx-auto sorter-box">
      <span class="d-flex justify-content-end">
        <div id="trash-mode-box">
          <!-- javascript 가 이 사이에 trash mode 에 따라 HTML element 를 생성해서 삽입합니다. -->
        </div>
        <!-- div -> span으로 변경 -->
      </span>
    </div>

    <!-- 동적으로 영화 목록이 들어갈 부분 -->
    <!-- *주의* 아래 내용 중 id="movie-box" 은 삭제하면 안됩니다. -->
    <div class="movie-list" id="movie-box">
      <!-- javascript 가 이 사이에 HTML element 를 생성해서 삽입합니다. -->
    </div>
  </body>
</html>
